* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1,
h2 {
  color: #333333;
}

.page-title {
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 0.5rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.btn:disabled {
  background-color: lightgray;
  border-color: lightgray;
  cursor: auto;
}

.actions {
  text-align: right;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #d0a772;
}

.header .logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.error {
  color: red;
}