.order_detail .cusInfo-container {
  display: flex;
  justify-content: space-between;
}
.order_detail .orderId {
  padding: 1rem 0;
}
.order_detail .cusInfo {
  padding: 0.75rem 0;
}
.order_detail .cusInfo label {
  font-weight: bold;
  padding-right: 10px;
} 